*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: white;
}

h1
{
    font-weight: 700;
    color: rgb(9, 123, 238);
    display: flex;
    justify-content: center;
}

.container
{
    
    width: 100%;
   height: 95.42vh;
    background: rgb(4, 102, 206);
    display: flex;
   justify-content: center;
    align-items: center; 
}

.form_container
{
    width: 40vw;
    height: 80vh;
    padding: 10px;
    padding-left: 25px;
    border-radius: 10px;
    background: white;

}

.create_form button, .update_form button
  {
    padding: 10px;
    background: rgb(96, 146, 239);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(2, 95, 217);
    cursor: pointer;
  }
  .create_form button:hover, .update_form button:hover
  {
    background: rgb(0, 119, 255);
  }

  .create_form input
  {
    padding: 8px;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .addbtn
  {
    padding: 8px 15px;
    background: rgb(19, 242, 101);
    color: white;
    border: 1px solid rgb(2, 217, 109);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }

  .addbtn:hover
  {
    background: rgb(0, 131, 11);
  }

  .table
  {
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }


.create_form, .update_form
{
    display: none;
}



@media screen and (max-width: 559px)
{

.form_container
{
    width: 95% !important;
}
.create_form input, .update_form input
{
   width: 95%;
}
  
}



@media screen and (max-width: 946px)
{
  .form_container
  {
    
    width: 60%;
  }
  
}



@media screen and (max-width: 369px)
{

.form_container
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 0;
    font-size: 12px;
}

.btnn
{
  font-size: 12px;
}

}